@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 249 46% 8%;
    --card: 0 0% 100%;
    --card-foreground: 249 46% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 249 46% 8%;
    --primary: 250 100% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 311 46% 86%;
    --secondary-foreground: 249 46% 8%;
    --muted: 0 0% 20%;
    --muted-foreground: 249 46% 70%;
    --accent: 310 46% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 249 46% 8%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 310 46% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 246 100% 3%;
    --foreground: 249 46% 92%;
    --card: 0 0% 0%;
    --card-foreground: 249 46% 92%;
    --popover: 0 0% 0%;
    --popover-foreground: 249 46% 92%;
    --primary: 249 100% 85%;
    --primary-foreground: 0 0% 0%;
    --secondary: 311 46% 14%;
    --secondary-foreground: 249 46% 92%;
    --muted: 0 0% 80%;
    --muted-foreground: 249 46% 92%;
    --accent: 310 46% 54%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 248 45% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 310 46% 60%;
  }
}