@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 248 100% 97%;
    --foreground: 249 37% 7%;
    --card: 248 100% 97%;
    --card-foreground: 249 37% 7%;
    --popover: 248 100% 97%;
    --popover-foreground: 249 37% 7%;
    --primary: 216 76% 82%;
    --primary-foreground: 249 37% 7%;
    --secondary: 311 46% 86%;
    --secondary-foreground: 249 37% 7%;
    --muted: 248 100% 20%;
    --muted-foreground: 249 37% 70%;
    --accent: 219 48% 65%;
    --accent-foreground: 249 37% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 249 37% 7%;
    --border: 248 100% 20%;
    --input: 248 100% 20%;
    --ring: 219 48% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 248 100% 3%;
    --foreground: 249 37% 93%;
    --card: 248 100% 3%;
    --card-foreground: 249 37% 93%;
    --popover: 248 100% 3%;
    --popover-foreground: 249 37% 93%;
    --primary: 216 76% 18%;
    --primary-foreground: 249 37% 93%;
    --secondary: 311 46% 14%;
    --secondary-foreground: 249 37% 93%;
    --muted: 248 100% 80%;
    --muted-foreground: 249 37% 93%;
    --accent: 219 48% 35%;
    --accent-foreground: 249 37% 93%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 249 37% 10%;
    --border: 248 100% 60%;
    --input: 248 100% 80%;
    --ring: 219 48% 60%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron), sans-serif; 
}

body {
  font-family: var(--font-plus-jakarta-sans), sans-serif; 
}